[worldserver]

###################################################################################################
#	GAMBLER NPC
###################################################################################################

# -------------------------------------------------------------------------------------
#  当玩家登录时宣布模块?
#  Enable : 1
#  Disable: 0
# -------------------------------------------------------------------------------------
Gambler.Announce = 1

# -------------------------------------------------------------------------------------
#  NPC的表情频率是多少毫秒?
#  在60000(最小1分钟)到3000000(最大5分钟)范围内随机计算
#  Default: 60000 (1分钟,最低)
#  Disable: 0
# -------------------------------------------------------------------------------------
Gambler.MessageTimer = 60000

# -------------------------------------------------------------------------------------
#  用来引起玩家注意的咒语
#  Default: 44940 
#  Disable: 0
# -------------------------------------------------------------------------------------
Gambler.EmoteSpell = 44940

# -------------------------------------------------------------------------------------
#  赌博用的钱
#  Enable : 1
#  Disable: 0
# -------------------------------------------------------------------------------------
Gambler.EnableGold = 1
Gambler.EnableSilver = 0
Gambler.EnableCopper = 0
 
# ------------------------------------------------------------------------------------- 
#  用来赌博的钱
#  1: Copper, 2: Silver, 3: Gold 
#  Default: 2
# -------------------------------------------------------------------------------------
Gambler.MoneyType = 3

# -------------------------------------------------------------------------------------
#  玩家可以选择赌博的数量。
#  随机的胜败率很有效，但是大量的黄金也会被滥用。
#  Default: 1, 5, 10, 15, 20
# -------------------------------------------------------------------------------------
Gambler.Amount1 = 1
Gambler.Amount2 = 5
Gambler.Amount3 = 10
Gambler.Amount4 = 15
Gambler.Amount5 = 20

# -------------------------------------------------------------------------------------
#  头奖金额
#  只有在前10次连续投注中掷出100才可能
#  Default: 50
# -------------------------------------------------------------------------------------
Gambler.Jackpot = 50
